<footer class="footer-section-container">
    <section class="footer-section-content">
        <img src="assets/card.jpg" alt="company logo">
        <section class="logo-links-section">
            <div class="logo-links-section-div">
                <h1 style="font-weight: 700;font-size:xx-large">YourCard</h1>
                <br>
                <h4>About Us</h4>
                <h4>Services</h4>
                <h4>Security</h4>
                <h4>Get In Touch</h4>
            </div>
        </section>

        <section class="signup-section">
            <div class="signup-section-div">
                <h3 style="font-size: x-large;">Subscribe</h3>
                <br>
                <h3>Get monthly updates and free resources</h3>
                <br>
                <form action="">
                    <p>
                        <label><input mat-input type="text" placeholder="Enter E-Mail" name="Email ID" size=20
                                class="text-box" /></label>
                        <label><input mat-button type="button" value="Subscribe" class="button-attributes" /></label>
                    </p>
                </form>
            </div>
        </section>

        <section class="recent-news-section">
            <div class="recent-news-section-div">
                <h3 style="font-size: x-large;">Connect with Us</h3>
                <br>
                <div class="social-media-links">
                    <i class="fa fa-twitter fa-2x"></i>
                    <i class="fa fa-facebook-f fa-2x"></i>
                    <i class="fa fa-youtube fa-2x"></i>
                    <i class="fa fa-instagram fa-2x"></i>
                    <i class="fa fa-google-plus fa-2x"></i>
                </div>
            </div>
        </section>

    </section>
    <hr>
    <br>
    <p style="text-align: center;">Copyright 2020 YourCard - All Rights Reserved</p>
</footer>